.btn_container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    padding: 14px 24px;
}

.hide_title {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.hide_span {
    font-size: 14px;
    font-weight: 600;

}

.button_i {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
}

.button_i>i[class^="fi"] {
    color: #858D9D;
    font-size: 14px;
}
button{
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}