.side {
    position: fixed;
    width: 264px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
   
    border-right: 1px solid #F0F1F3;
    overflow: hidden;
}
.side.collapsed {
    width: 80px;
    
}