.side {
    width: 264px;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    overflow: hidden;
    transition: width 1024ms linear;
}
.side.collapsed {
    width: 64px;
    position: fixed;

}
/* .side.collapsed:after{
 
} */
